@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 100px;
  overflow-x: hidden;
}

.container {
  max-width: 800px;
  width: calc(100vw - 4em);
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: calc(5vw + 1.4rem);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: 0 -400px;
}

.fullsize-img {
  width: 100vw;
  height: 500px;
  margin: 0 calc(-50vw + 50%);
}

.highlight {
  background-color: lightblue;
  text-align: center;
  font-style: italic;
  padding: 2em;
  margin: 0 calc(-50vw + 50%);
  font-size: calc(1vw + 0.5rem);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: calc(8vw + 1.4rem);
  }

  .pe {
    font-size: calc(2vw + 0.5rem);
    margin-top: -370px;
  }

  p {
    font-size: calc(2vw + 0.5rem);
    text-align: left;
  }
}
