body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  text-align: center;
  background-color: #eee;
  line-height: 1.6;
  font-weight: 300;
  min-height: 2000px;
}

.container {
  width: 80%;
  margin: auto;
}

.tipografi {
  display: flex;
}

.tipografi .column {
  flex: 1;
  margin: 0 0 0.5em;
  padding: 0 0 0.5em;
}

/* EM */
.col-em h2 {
  font-size: 2em;
}

.col-em p {
  font-size: 1.5em;
}
