* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  line-height: 1.8em;
}

h1 {
  font-size: 4rem;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
}

section {
  margin: 30px auto;
  width: 80%;
}

section.detail {
  font-size: 1.4em;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0.5em 0;
  margin-bottom: 2em;
  color: #333;
}

section p {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-indent: 1em;
}
