* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ddd;
  line-height: 1.8em;
  color: #444;
}

h1 {
  font-size: 4rem;
  line-height: 1.2em;
  color: #333;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
}

section {
  width: 80%;
  margin: 30px auto;
}

section .detail {
  font-size: 1.4rem;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em 0;
  margin-bottom: 2em;
  color: rgba(0, 0, 0, 0.6);
  font-family: monospace;
}

section p {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-indent: 1em;
  text-align: justify;
}
